body {

    background-color: black;

}

.head {
    Width: 1440px;
    Height: 119px;

}
.castaway {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 50px;
    color: #ffffff;
    pointer-events: none;
    text-decoration: none;
}
.titl {

    background-image: url(assets/blackman.jpg);
    background-size: cover;
    background-position: center;
    Width: 650px;       
    Height: 873px;
}

.hueta {
    Width: 530px;
    Height: 610.58px;
    Top: 131.42px;
    Left: 710px;
}

.block {
    margin: 26px 0px 26px 0px;
    background-color: black;
    Width: 1440px;
    Height: 67px;
}

.first {
    Width: 1400px;
    Height: 913px;
    Left: 20px;

}

