body {

    background-color: black;

}


.castaway {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 50px;

}


.block {
    margin: 26px 0px 26px 0px;
    background-color: black;

}


 








.title {
    Width: 900px;

    Height: 873.44px 

}